black
certifi
charset-normalizer
click
colorama
filelock
flake8
fsspec
idna
Jinja2
MarkupSafe
mccabe
mpmath
mypy-extensions
networkx
nibabel
numpy<2
packaging
pandas
pathspec
pillow
platformdirs
pycodestyle
pyflakes
python-dateutil
pytz
ruamel.yaml
requests
setuptools
six
sympy
tensorboardX
torch
torchvision
tqdm
typing_extensions
tzdata
urllib3
wheel